<div class="modal">
    <div class="modal-content">

        <span class="close" (click)="otkazi()">x</span> 

        <form (ngSubmit)="submitForm()" #forma="ngForm" class="container mt-4">
            <div class="form-group">
                <label for="naziv">Naziv smeštaja:</label>
                <input type="text" class="form-control" id="naziv" required minlength="6" [ngModel]="defaultNaziv" name="naziv"
                    #naziv="ngModel">
                <span class="text-danger h6" *ngIf="!naziv.valid && naziv.touched">Naziv smeštaja mora sadržati više od
                    6 karaktera</span>
            </div>
            <div class="form-group">
                <label for="tipSobe">Tip sobe:</label>
                <input type="text" class="form-control" id="tipSobe" required minlength="6" [ngModel]="defaultTipSobe" name="tipSobe"
                    #tipSobe="ngModel">
                <span class="text-danger h6" *ngIf="!tipSobe.valid && tipSobe.touched">Tip sobe mora sadržati više od 6
                    karaktera</span>
            </div>
            <div class="form-group">
                <label for="cena">Cena:</label>
                <input type="number" class="form-control" id="cena" [ngModel]="defaultCena" name="cena" #cena="ngModel">
            </div>
            <div class="form-group">
                <label for="brojKreveta">Broj kreveta:</label>
                <input type="number" class="form-control" id="brojKreveta" [ngModel]="defaultBrojKreveta" name="brojKreveta"
                    #brojKreveta="ngModel">
            </div>
            <div class="form-group">
                <label>Dodatne opcije:</label><br>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="klima" name="klima" ngModel>
                    <label class="form-check-label" for="klima">Klima</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="miniBar" name="miniBar" ngModel>
                    <label class="form-check-label" for="miniBar">Mini Bar</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="sauna" name="sauna" ngModel>
                    <label class="form-check-label" for="sauna">Sauna</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="tv" name="tv" ngModel>
                    <label class="form-check-label" for="tv">TV</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="wifi" name="wifi" ngModel>
                    <label class="form-check-label" for="wifi">Wi-Fi</label>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-secondary" [disabled]="!forma.valid">Ažuriraj promene</button>
        </form>


    </div>
</div>