<h2>Lista smeštaja</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Naziv</th>
                <th>Tip sobe</th>
                <th>Cena</th>
                <th>Broj kreveta</th>
                <th>Dodatne opcije</th>
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let smestaj of smestaji | paginate:{itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                <td>{{ smestaj.naziv }}</td>
                <td>{{ smestaj.tipSobe }}</td>
                <td>{{ smestaj.cena }}€</td>
                <td>{{ smestaj.brojKreveta }}</td>
                <td>
                    <ul>
                        <li *ngFor="let opcija of smestaj.dodatneOpcije">{{ opcija }}</li>
                    </ul>
                </td>
                <td class="text-center align-middle">
                    <button class="btn btn-primary mr" (click)="rezervisi(smestaj)">Rezerviši</button>
                    <button class="btn btn-secondary mr" (click)="izmeni(smestaj)">Izmeni</button>
                    <button class="btn btn-danger" (click)="ukloni(smestaj.key)">Ukloni</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
</pagination-controls>