<div class="modal">
  <div class="modal-content">
    <div class="d-flex justify-content-end">
      <span class="close" style="width: fit-content;" (click)="otkazi()">&times;</span>
    </div>
    <h2>Rezervacija smeštaja</h2>
    <div class="accommodation-info">
      <p>Naziv smeštaja: {{ odabraniSmestaj.naziv }}</p>
      <p>Cena smeštaja: {{ ukupnaCena }}€</p>
      <label for="nights">Broj noćenja:</label>
      <input type="number" id="nights" name="nights" min="1" value="1" [(ngModel)]="brojNoci"
        (ngModelChange)="promeniBrojNoci()">
    </div>
    <div class="buttons">
      <button class="btn btn-primary reserve-btn">Rezerviši</button>
      <button class="btn btn-dark cancel-btn" (click)="otkazi()">Otkaži</button>
    </div>
  </div>
</div>