<div class="container mt-4">
    <h2>Preporuke</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Za obrok</h3>
            <ul class="list-group">
                <li class="list-group-item">Restoran ABC</li>
                <li class="list-group-item">Brza hrana XYZ</li>
                <li class="list-group-item">Picerija QWE</li>
                <li class="list-group-item">Italijanski restoran ZXC</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Za izlazak</h3>
            <ul class="list-group">
                <li class="list-group-item">Klub 123</li>
                <li class="list-group-item">Bar DEF</li>
                <li class="list-group-item">Kafić UVW</li>
                <li class="list-group-item">Pab RST</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Za slobodno vreme</h3>
            <ul class="list-group">
                <li class="list-group-item">Park GHI</li>
                <li class="list-group-item">Muzej JKL</li>
                <li class="list-group-item">Bazen MNO</li>
                <li class="list-group-item">Šetnja po jezeru PQR</li>
            </ul>
        </div>
    </div>
</div>
